html,
body {
  background-image: linear-gradient(45deg, rgba(133, 246, 184, 1), rgba(142, 217, 235, 0.85));
  font-family: 'Inter', sans-serif;
  color: rgb(124, 124, 124);
}


.login {
  display: block;
  background-color: white;
  margin: auto;
  position: relative;
  left: 0%;
  right: 0%;
  top: 40px;
  width: 300px;
  height: fit-content;
  /* text-align: center; */
  padding: 5%;

}

.questions {
  display: none;
  background-color: white;
  position: relative;
  left: 0%;
  right: 0%;
  top: 40px;
  width: 300px;
  height: fit-content;
  padding: 5%;
  margin: auto;
}

.resultContainer {
  display: none;
  background-color: white;
  position: relative;
  left: 0%;
  right: 0%;
  top: 40px;
  width: 300px;
  height: fit-content;
  text-align: center;
  padding: 5%;
  margin: auto;
}


.material-symbols-sharp {
  /* display: none; */
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
  color: rgba(2, 138, 61, 1);
  font-size: 200px;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
  color: rgb(236, 25, 25);
  font-size: 200px;
}




.firstInput,
.secondInput {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35px 40px;
  justify-content: center;
  /* padding: 0px 20px 0px 20px; */
  width: 100%;
  width: 98%;
  border-style: none;
  border-color: rgb(126, 126, 126 0.5);
  border-radius: 3px;
  border-width: 0.5px;
}

#secondInput,
#firstInput {
  padding: 10px;
}

.firstInput>p,
.secondInput>p {
  font-size: 13px;
}

.myText {
  padding: 0px 20px 0px 20px;
  text-align: center;
}




button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  background-color: rgba(2, 138, 61, 1);
  color: white;
  border: none;
  width: 40%;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.1s;
}


.buttonsQuestion {
  display: flex;
  justify-content: space-between;
}

#homePageB {
  background: rgba(8, 128, 214, 1);
}

#homePageB:active {
  background: rgb(77, 77, 77);
}

button:hover {
  background-color: rgb(58, 190, 115);
}

button:active {
  background-color: rgb(77, 77, 77);
}

.quitButton {
  background-color: rgba(236, 136, 12, 1);
}

.quitButton:hover {
  background-color: rgb(245, 68, 68);
}

.quitButton:active {
  background-color: rgb(77, 77, 77);
}

.nextButton {
  background: rgb(0, 144, 62);

}

/* Radio Inputs */

.assertions{
  margin-right: 10px;
}
.myRadioInputClass {
  display: none;
}

.radioChecking {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgb(108, 108, 108);
  box-sizing: border-box;
  margin-right: 20px;

}

.radioChecking::after {
  content: "";
  background-color: rgb(39, 80, 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  transform: scale(0);
}

.myRadioInputClass:checked+.radioChecking::after {
  transform: scale(1);
  /* display: block; */

}

.assert {
  display: flex;
  margin-top: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  /* border-radius: 5px; */
  border: 1px solid rgb(204, 204, 204)
}

.assert:hover {
  border: 1px solid rgba(2, 138, 61, 1)
}

/* Timer  */

.quetionMunitor {
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr;
}

#timer {
  width: 100%;
  height: 10px;
  background-color: rgb(13, 102, 13);
  border-style: none;
  border-radius: 20px;
  /* transition: all 1s; */
}


.timeContainer {
  width: 100%;
  height: 10px;
  background-color: rgb(209, 209, 209);
  border-style: none;
  border-radius: 20px;
}


@media screen and (min-width : 600px) {
  .login {
    display: block;
    background-color: white;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50px;
    width: 300px;
    margin: auto;
    min-height: fit-content;
    /* text-align: center; */
    padding: 3%;
  }

  .questions {
    display: none;
    background-color: white;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 50px;
    width: 300px;
    min-height: fit-content;
    /* text-align: center; */
    padding: 3%;
    margin: auto;
  }

  .resultContainer {
    display: none;
    background-color: white;
    position: relative;
    left: 0%;
    right: 0%;
    top: 50px;
    width: 300px;
    height: fit-content;
    text-align: center;
    padding: 3%;
    margin: auto;
  }
}